<mat-toolbar color="primary">
  <span>My Chat</span>
</mat-toolbar>

<div>
  <mat-card
    *ngFor="let message of messages; trackBy: trackMessageById" 
    [class.message-confirmed]="message.origin === 'server'"
    [class.message-unconfirmed]="message.origin === 'client'"
    [class.message-self]="user?.name === message.sender"
    [class.message-other]="user?.name !== message.sender"
    >
    <mat-card-content>{{ message.body }}</mat-card-content>
    <mat-card-footer>{{ message.sender }}</mat-card-footer>
</mat-card>
</div>

<form (submit)="submit()">
  <mat-form-field appearance="fill">
    <input matInput placeholder="Write something..." [formControl]="messageBox">
  </mat-form-field>
</form>
<br><br><br>
<button mat-raised-button (click)="openBottomSheet()">Change name</button>34